.heroContainer {
    display: flex;
}

.heroIntroduction {
    overflow: hidden;
    color: white;
    align-self: center;
    user-select: none;
    padding: 1rem 6rem 1rem 0;
}

.heroText {
    font-size: 1.5rem;
}

.largeHeroText {
    font-size: 4rem;
    margin: 0;
}

.highlightedText {
    color: aqua;
}

.avatar {
    width: 50%;
    flex-shrink: 0;
    height: 500px;
    cursor: pointer;
}