.experienceContainer {
    display: flex;
    flex-direction: column;
}

.timelineContainer {
    margin: 1rem 0 3rem;
    align-self: center;
    overflow: hidden;
    width: 50%;
    color: aqua;
}

.step {
    cursor: pointer;
    user-select: none;
}

.slider {
    margin: 0 20% 16rem;
}

@media (max-width: 768px) {
    .timelineContainer {
        width: 90%;
    }

    .slider {
        margin: 0 0 16rem;
    }
}
