@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Open+Sans+Condensed:wght@300&display=swap');


:root {
  --main-color: #0F1C30;
  --navbar-height: 64px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: aqua;
}


.section-title {
  margin: 4rem 0;
  font-size: 3rem;
  text-align: center;
}

.slick-slide div {
  outline: none;
}
